@font-face {
  font-family: G-Roboto-n4;
  src: url('../data/fonts/roboto_v20_KFOmCnqEu92Fr1Me5WZLCzYlKw.ttf');
}
@font-face {
  font-family: "G-Roboto Mono-n7";
  src: url('../data/fonts/robotomono_v7_L0xkDF4xlVMF-BfR8bXMIjDwjlq2db6LAkU-.ttf');
}
@font-face {
  font-family: "G-Roboto Mono-n4";
  src: url('../data/fonts/robotomono_v7_L0x5DF4xlVMF-BfR8bXMIghMoX6-XqKC.ttf');
}